/* CSS for the tablet devices */
.only-desktop {
    display: none;
}

.only-tablets {
    display: block;
}

.only-smartphones {
    display: none;
}

.only-tablets-and-smartphones {
    display: block;
}

.only-desktop-and-tablets {
    display: block;
}

#gk-bg {
    overflow: hidden;
}
.owl-carousel .info {
    top: 55%;
}
#page {
    padding: 100px 0 50px;
}

.content-wrapper,
#sidebar {
    clear: both;
    width: 100% !important;
}

#sidebar {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 30px !important;
}

.single-page #sidebar {
    padding-top: 0;
}

#sidebar .widget {
    float: left;
    margin: 1% 1% !important;
    width: 48% !important;
}

#sidebar .widget:nth-child(2n+1) {
    clear: both;
}

#gk-header-nav .main-navigation {
    display: none;
}

.main-navigation + #gk-mobile-menu {
    display: block;
    position: absolute;
}

#aside-menu-toggler {
    display: block;
}

.gk-cols[data-cols="4"] > div,
.gk-cols[data-cols="5"] > div {
    margin-bottom: 30px;
    width: 50%;
}

.gk-cols[data-cols="4"] > div:nth-child(2n+1),
.gk-cols[data-cols="5"] > div:nth-child(2n+1) {
    clear: both;
}

/* Frontpage */
#gk-header-mod .btn-border,
.one-page .gk-page .btn-border {
    margin: 40px 0 0 0;
}

.box.parallax-bg {
    background-attachment: scroll;
}

.gk-big-text {
    padding: 100px 0;
}
.gk-counters > .gk-counter {
    margin: 0 0 40px 0;
}
.gk-counters > .gk-counter:after {
    display: none;
}
.box.bigger-spaces {
    padding: 80px 0 !important;
}
.gk-is-wrapper-gk_quark .gk-slider {
    display: none;
}
.one-page + #frontpage-wrap {
    padding-top: 0;
}
.item-info {
    margin-top: 100px;
}
.frontpage-block.box .links .box-links {
    text-align: center;
}
.frontpage-block.box .links .box-links .img {
    display: block;
    float: none;
    margin-bottom: 20px;
}
.single-page .content-wrapper {
    margin-top: 0;
}
#comments {
    padding: 0 16px;
}
.author-info .entry-title {
    font-size: 1.6rem;
    margin: 0;
}
.author-info .entry-title + p {
    font-size: 1.2rem;
}
.archive .entry-header + .site {
    padding: 50px 0 0;
}
.gk-map-icon {
    bottom: 20px;
}
.contact .site {
    padding: 100px 0 25px;
}
.contact .site > div {
    padding: 0 0 35px;
}

.site-content.contact {
    padding-bottom: 0;
}

.contact .site > div:first-child {
    padding: 0 35px 0 0;
}

.gk-menu .gk-cols > div {
    padding: 0 20px;
}

.gk-menu .gk-cols {
    margin: 30px -20px 75px -20px;
}

.gk-menu .gk-cols dd strong {
    font-size: 1.3rem;
}

.big-icon a {
    font-size: 3rem;
}

blockquote {
    margin: 20px auto;
    width: 90%;
}

/* Subpages */
.error404 h1 {
    font-size: 10rem;
}
.error404 h2 {
    font-size: 1.6rem;
    margin-bottom: 50px;
}
.error404 #content {
    padding: 150px 0 0 0;
}

.error404 #primary {
    padding-bottom: 50px;
}

@media (max-width: 782px) {
    .admin-bar #gk-header-nav.static {
        top: 46px;
    }

    html #wpadminbar {
        z-index: 50000 !important;
    }
}

.single-page,
.archive #content > .entry-header,
article.one-page {
    margin: -100px auto 0 auto!important;
}

.search-form .search-field {
    width: 400px;
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
    #gk-mobile-menu {
        margin-top: 40px !important;
        padding: 0;
    }

    #gk-footer .site .gk-cols .widget-1:last-child{
        width: 32% !important;
    }

    #gk-footer .site .gk-cols .widget-1:last-child .copyright-footer{
        position: initial;
        width: auto;
    }

    body #gk-menu-overlay-wrap.gk-show{
        margin: 0;
        top: calc(50% - 100px) !important;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% - 100px);
        position: fixed;
        max-width: 700px;
    }

    .site.post-info .item-info{
        margin: 5px 0 0 0 !important;
    }

    .site.post-info{
        height: 0px !important;
        margin-top: 20px !important;
        width: calc(100% - 50px);
        margin: 0;
    }
    .gk-social-facebook{
        float: right;
        margin: 19px !important;
    }

    .gk-social-icons{
        float: right !important;
    }
}
@media only screen and (max-width: 64em) { 
    span.gk-social-facebook * {
        max-width: 300px;
    }
    .gk-social-facebook {
        overflow: hidden;
    }
    html { overflow-x: hidden; }

    .gk-social-icons{
        margin-left: -12px !important;
        margin-top: 8px !important;
    }

    #gk-copyrights .copyright{
        text-align: center !important;
    }

    ul, ol {
        padding: 0 0 0 10px;
    }

    #menu-item-search{
        display: none;
    }

    u.fa.fa-search{
        text-decoration: none;
        margin-left: 9px;
        margin-top: 1px;
        float: right;
        display: block;
    }
}