/* CSS for the small tablet devices */

body {
  font-size: 1.4rem;
}
h1 {
  letter-spacing: 0;
}
h1,
.gk-big-text > h2 {
  font-size: 2.8rem;
  line-height: 34px;
}
.item-info {
  margin-top: 70px;
}
.mouse-icon {
  display: none;
}
.entry-header > img,
#gk-header-mod img {
  height: 120% !important;
  max-width: none !important;
}
.entry-title-wrap {
top: 230px !important;
}
.entry-title {
  font-size: 2.8rem;
  margin: 0 20px;
}

.single-page .content-wrapper {
  padding-top: 10px;
}

#gk-mobile-menu {
  margin-top: 46px;
  padding: 0;
}

#gk-header-mod h2,
.one-page .gk-page h2 {
  font-size: 2rem;
  line-height: 26px;
}

.gk-nsp-art,
.gk-nsp-arts,
.gk-nsp-links {
  clear: both;
  width: 100% !important;
}

.gk-3-cols[data-cols="2"] .widget,
.gk-3-cols[data-cols="3"] .widget {
  padding: 0 10px;
  max-width: 400px;
  width: 100%;
}

.gk-3-cols[data-cols="2"],
.gk-3-cols[data-cols="3"] {
  margin: 0 -10px;
}

.comment-content-wrapper {
  margin: 0 0 0 64px;
}

.entry-related a {
  display: inline-block;
  margin: 0 1%;
  vertical-align: top;
  width: 46%;
}

/* Subpages */
.error404 h2 {
  font-size: 1.6rem;
  margin-bottom: 20px;
}
.error404 #content {
  padding: 100px 0 0 0;
}

.frontpage .gk-desc,
.page-template-template-one-page .gk-desc {
  padding: 90px 0 122px 0;
}

/* Frontpage elements */
.gk-desc > img {
  max-width: 75%;
  margin: 0 0 48px 0;
}
.gk-desc h2 {
  font-size: 2rem;
  margin-bottom: 24px;
}
.gk-desc p {
  font-size: 1.4rem;
}

.gk-is-wrapper-gk_quark figure h2 {
  font-size: 2rem;
}
.gk-is-wrapper-gk_quark figure p {
  font-size: 1.4rem;
}
.gk-video-link {
  font-size: 2rem;
}
.gk-video-link > i {
  height: 50px;
  font-size: 2rem;
  line-height: 48px;
  margin: 0 10px !important;
  opacity: 1;
  width: 50px;
}
.gk-features {
  margin: 80px 0;
}
.gk-features dt,
.gk-features dd {
  margin: 0 0 10px 0;
}
.gk-features dd {
  font-size: 1.2rem;
}
.gk-price-table > dl {
  padding: 0 0 30px;
}
.gk-price-table > dl dt {
  padding: 20px;
  padding-bottom: 20px;
}
.gk-price-table > dl dd > ul {
  padding: 20px;
}
.gk-price-table > dl dd > a {
  padding: 0 12px;
}
.box.newsletter form,
.widget.newsletter form {
  text-align: center;
}
.box.newsletter small,
.widget.newsletter small {
  max-width: 100%;
  width: 100%;
}
.box.newsletter input,
.widget.newsletter input {
  float: none;
}
#gk-login {
  width: 100%;
}

#gk-menu-overlay-wrap {
  margin: 0 auto 0 -150px;
  max-width: 300px;
}

.boletim .frontpage-block-wrap {
  margin-top: 120px!important;
  margin-left: 0%!important;
}