#cc-modal-overlay {
  background: #fff;
  background-color: rgba(255,255,255,0.9);
  display: none;
  width: 100%;
  height: 1000%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
}
#cc-modal,
#cc-settingsmodal {
  display: none;
  width: 100%;
  height: 1000%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999;
}
#cc-settingsmodal {
  z-index: 9999999999;
}
.cc-clear {
  clear: both;
}
#cc-notification {
  background: #fff;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0 6px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.2);
  position: fixed;
  z-index: 99999998;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 900px;
  padding: 8px;
  width: 100%;
  font: 400 12px/1.7 Arial, Helvetica, sans-serif;
}
#cc-notification h2 {
  font: 700 13px/1.6 Arial, Helvetica, sans-serif;
  margin: 0 0 20px 0;
}
#cc-notification.cc-bottom {
  bottom: 20px;
}
#cc-notification.cc-top {
  top: 20px;
}
#cc-notification #cc-notification-permissions {
  display: none;
}
#cc-modal #cc-modal-closebutton a,
#cc-settingsmodal #cc-settingsmodal-closebutton a {
  color: #26292b;
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 20px;
  right: 20px;
}
#cc-modal #cc-modal-closebutton a:hover,
#cc-settingsmodal #cc-settingsmodal-closebutton a:hover {
  color: #f079a3;
}
#cc-modal #cc-modal-closebutton a:before,
#cc-settingsmodal #cc-settingsmodal-closebutton a:before {
  content: "p";
  font-family: "quark-pixellove";
  font-size: 14px;
}
#cc-modal #cc-modal-closebutton a span,
#cc-settingsmodal #cc-settingsmodal-closebutton a span {
  display: block;
  text-indent: -99999em;
}
#cc-tag {
  position: fixed;
  z-index: 999999999;
  bottom: 0;
  right: 8%;
  display: none;
}
#cc-tag.cc-tag-bottom-left {
  right: auto;
  left: 8%;
}
#cc-tag.cc-tag-vertical-left {
  left: 0;
  right: auto;
  bottom: 50%;
  padding: 16px 6px;
}
#cc-tag.cc-tag-vertical-left a {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  margin-left: -82px;
  padding: 8px 12px 60px 12px;
}
#cc-tag.cc-tag-vertical-right {
  right: 0;
  bottom: 50%;
  padding: 16px 6px;
}
#cc-tag.cc-tag-vertical-right a {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  margin-right: -82px;
  padding: 8px 12px 60px 12px;
}
#cc-tag a {
  -webkit-appearance: none;
  background: #f079a3;
  border: none;
  border-radius: 2px 2px 0 0;
  color: #fff !important;
  cursor: pointer;
  display: inline-block;
  font: 700 11px/1.6 Arial, Helvetica, sans-serif;
  height: auto;
  line-height: 25px;
  margin: 0 5px 2px 2px;
  padding: 6px 16px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
#cc-tag a:active,
#cc-tag a:focus,
#cc-tag a:hover {
  background: #222222;
}
#cc-notification ul.cc-notification-buttons {
  position: absolute;
  right: 16px;
  top: 20px;
  width: 360px;
}
#cc-notification ul.cc-notification-buttons a {
  float: right;
  -webkit-appearance: none;
  background: #f079a3;
  border: none;
  border-radius: 2px;
  color: #fff !important;
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  font-weight: 700;
  height: auto;
  line-height: 25px;
  margin: 0 5px 2px 2px;
  padding: 6px 16px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
#cc-notification ul.cc-notification-buttons a:active,
#cc-notification ul.cc-notification-buttons a:focus,
#cc-notification ul.cc-notification-buttons a:hover {
  background: #222222;
}
#cc-notification #cc-notification-wrapper {
  padding: 20px 320px 0 32px;
}
#cc-notification #cc-notification-permissions ul {
  margin: 0 0 26px;
  padding: 0;
  list-style: none;
  float: left;
}
#cc-notification #cc-notification-permissions ul li {
  margin: 0 0 10px 30px;
  padding: 6px 0 0;
  list-style: none;
  width: 440px;
  -webkit-transition: color .2s ease-in;
  -moz-transition: color .2s ease-in;
  -o-transition: color .2s ease-in;
  transition: color .2s ease-in;
}
#cc-notification #cc-notification-permissions ul li label {
  color: #777;
  display: block;
  font-weight: normal;
  text-transform: none;
}
#cc-notification #cc-notification-permissions ul li input {
  float: left;
  margin-left: -30px;
  margin-top: 7px;
}
#cc-notification #cc-notification-permissions ul li strong {
  color: #010101;
  display: block;
}
#cc-modal #cc-modal-wrapper,
#cc-settingsmodal-wrapper {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
  font: 400 13px/1.6 Arial, Helvetica, sans-serif;
  margin: 40px auto;
  max-height: 8%;
  min-height: 560px;
  padding: 60px;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: left;
  width: 686px;
}
#cc-modal #cc-modal-wrapper h2,
#cc-settingsmodal-wrapper h2 {
  font: 700 20px/1.6 Arial, Helvetica, sans-serif;
}
#cc-modal #cc-modal-wrapper ul,
#cc-settingsmodal-wrapper ul {
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  list-style: outside none none;
  margin: 50px 0 0;
  padding: 0 0 35px;
}
#cc-modal #cc-modal-wrapper ul li,
#cc-settingsmodal-wrapper ul li {
  clear: both;
  padding: 30px 0 0;
  position: relative;
}
#cc-modal #cc-modal-wrapper label,
#cc-settingsmodal-wrapper label {
  color: #777;
  display: inline-block;
  font-weight: normal;
  text-transform: none;
  width: 60%;
}
#cc-modal #cc-modal-wrapper label strong,
#cc-settingsmodal-wrapper label strong {
  color: #010101;
  display: block;
}
#cc-modal #cc-modal-wrapper select,
#cc-settingsmodal-wrapper select {
  color: #111;
  margin-right: 8px;
  text-decoration: none;
  position: absolute;
  top: 28px;
  right: 8px;
  float: right;
  font-size: 10pt;
  width: 150px;
}
#cc-modal #cc-modal-wrapper #cc-modal-footer-buttons,
#cc-settingsmodal-wrapper #cc-modal-footer-buttons {
  margin-top: 50px;
}
#cc-modal #cc-modal-wrapper #cc-modal-footer-buttons a,
#cc-settingsmodal-wrapper #cc-modal-footer-buttons a {
  font-weight: 700;
}
#cc-notification .cc-logo,
#cc-tag .cc-logo,
#cc-modal .cc-logo,
#cc-settingsmodal .cc-logo {
  background-image: url(https://s3-eu-west-1.amazonaws.com/assets.cookieconsent.silktide.com/cookie-consent-logo.png);
  width: 142px;
  height: 32px;
  position: absolute;
  right: 32px;
  bottom: 20px;
}
.cc-logo span {
  display: none;
}
@media (max-width: 940px) {
  #cc-notification {
    max-width: 95%;
    min-height: 76px;
  }
  #cc-notification h2 {
    margin-bottom: 0;
  }
  #cc-notification #cc-notification-wrapper {
    padding: 10px 320px 0 16px;
  }
  #cc-modal #cc-modal-wrapper,
  #cc-settingsmodal #cc-settingsmodal-wrapper {
    max-width: 90%;
    min-height: 100px;
    padding: 20px;
  }
  #cc-modal #cc-modal-wrapper #cc-modal-footer-buttons {
    margin-top: 10px;
  }
  .cc-content ul {
    margin-top: 10px !important;
    padding-bottom: 15px !important;
  }
  .cc-content ul li {
    padding-top: 10px;
  }
  .cc-subtitle {
    margin: 0;
  }
}
@media (max-width: 640px) {
  #cc-modal #cc-modal-wrapper,
  #cc-settingsmodal #cc-settingsmodal-wrapper {
    margin: 10px;
    max-width: 95%;
    padding: 10px;
  }
  #cc-modal #cc-modal-wrapper h2,
  #cc-settingsmodal-wrapper h2 {
    font: 700 15px/1.6 Arial, Helvetica, sans-serif;
  }
  #cc-modal #cc-modal-wrapper select,
  #cc-settingsmodal-wrapper select {
    right: -7px;
    width: 110px;
  }
  #cc-modal label,
  #cc-settingsmodal label {
    font-size: 11px;
    line-height: 1.2;
  }
  #cc-modal #cc-modal-closebutton a,
  #cc-settingsmodal #cc-settingsmodal-closebutton a {
    top: 10px;
    right: 10px;
  }
  #cc-notification .cc-logo,
  #cc-tag .cc-logo,
  #cc-modal .cc-logo,
  #cc-settingsmodal .cc-logo {
    background-size: contain;
    width: 71px;
    height: 16px;
    right: 6px;
    bottom: 5px;
  }
  #cc-notification ul.cc-notification-buttons {
    right: 0px;
    top: 43px;
    width: 100%;
  }
  #cc-notification #cc-notification-wrapper {
    padding: 0;
    text-align: center;
  }
  #cc-notification {
    max-width: 95%;
    min-height: 86px;
  }
  .cc-notification-buttons li {
    display: inline-block;
  }
  #cc-notification-permissions {
    margin-top: 54px;
  }
  #cc-notification #cc-notification-permissions ul {
    margin-bottom: 0;
    width: 90%;
  }
  #cc-notification #cc-notification-permissions ul li {
    text-align: left;
    width: 90%;
  }
}
@media (max-width: 560px) {
  #cc-notification {
    min-height: 96px;
  }
  #cc-notification-wrapper .cc-link {
    display: block;
  }
  #cc-notification ul.cc-notification-buttons {
    top: 50px;
  }
  #cc-notification-permissions {
    margin-top: 60px;
  }
}
@media (max-width: 480px) {
  #cc-notification-wrapper .cc-link {
    display: inline-block;
  }
  #cc-notification ul.cc-notification-buttons a {
    padding: 4px 8px;
  }
}
