/* CSS for the small desktop devices */
@media (max-width: 1920px) {
  .transparent-tabs .gk-tabs-nav {
    -webkit-transform: translateY(-50%) translateX(-840px);
    -moz-transform: translateY(-50%) translateX(-840px);
    -ms-transform: translateY(-50%) translateX(-840px);
    -o-transform: translateY(-50%) translateX(-840px);
    transform: translateY(-50%) translateX(-840px);
  }
}
@media (max-width: 1720px) {
  .transparent-tabs .gk-tabs-nav {
    left: 10px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .gk-features img {
    height: auto;
    max-width: 100%;
  }
  .box.bigger-spaces {
    padding: 150px 0!important;
  }
  .box.very-big-spaces {
    padding: 320px 0!important;
  }
  #gk-header-mod .gk-page,
  .entry-title-wrap > .gk-page {
    width: 90%;
  }
}

@media (max-width: 1540px) {
  .transparent-tabs .site {
    margin: 0 0 0 260px;
  }
  .gk-price-table {
    margin: 150px 0;
  }
}
@media (max-width: 1460px) {
  .gk-logo.text {
    left: 10px;
  }
  #gk-mobile-menu {
    position: fixed;
    right: 10px;
    top: 0 !important;
    -webkit-transition: right .3s ease-out;
    -moz-transition: right .3s ease-out;
    -ms-transition: right .3s ease-out;
    -o-transition: right .3s ease-out;
    transition: right .3s ease-out;
    z-index: 2;
  }
  .admin-bar #gk-mobile-menu {
    top: 30px!important;
  }
  .menu-open #gk-mobile-menu {
    right: 290px;
  }
  .gk-is-wrapper-gk_quark .gk-is-quark-pagination {
    right: -150px;
  }

  #frontpage-wrap {
    overflow: hidden;
  }
}

@media (max-width: 1360px) {
  .gk-is-wrapper-gk_quark .gk-is-quark-pagination {
    right: -100px;
  }
}
@media (max-width: 1300px) {
  h1,
  .gk-big-text > h2 {
    font-size: 3.2rem;
    line-height: 48px;
  }
  h2,
  .archive .entry-title-wrap > h1 {
    font-size: 2.4rem;
    line-height: 28px;
  }
  .archive .entry-title-wrap > p,
  .author-info .entry-title + p,
  .entry-header time {
    font-size: 1.8rem;
  }
  .mouse-icon {
    bottom: 32px;
  }
  .gk-features dd {
    margin: 0 0 20px 0;
  }
  .gk-features dt {
    margin: 0 0 20px 0;
  }
  .box.bigger-spaces {
    padding: 120px 0 !important;
  }
  .box.very-big-spaces {
    padding: 240px 0 !important;
  }
  .gk-price-table {
    margin: 100px 0;
  }
  .gk-is-wrapper-gk_quark .gk-is-quark-pagination {
    right: -100px;
  }
}
@media (max-width: 1260px) {
  .gk-is-wrapper-gk_quark .gk-is-quark-pagination {
    right: -50px;
  }
}
@media (max-width: 1160px) {
  #gk-mobile-menu {
    margin-top: 46px !important;
    padding: 0;
  }
  #aside-navigation > div > ul {
    padding-top: 14px;
  }
  #close-menu {
    top: 20px;
  }
  .site {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
  .gk-is-wrapper-gk_quark .gk-is-quark-pagination {
    right: 26px;
  }
  .transparent-tabs .gk-tabs-nav {
    left: 0;
    padding: 10px !important;
    transform: none;
    top: 50px;
    text-align: center;
    width: 100%;
  }
  .transparent-tabs .gk-tabs-nav li {
    display: inline-block;
    float: none;
    margin: 0 2px;
    padding: 0 12px !important;
    width: auto;
  }
  .transparent-tabs .gk-tabs-nav li:before {
    display: none;
  }
  .transparent-tabs .gk-tabs-item {
    padding: 0 !important;
  }
  .transparent-tabs .site {
    margin: 0 0 0 0 !important;
    width: 100% !important;
  }

  #gkSidebar .box .content {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .widget .widget-title {
    font-size: 2.4rem;
  }
  .widget.light,
  .widget.dark,
  .widget.color {
    padding: 24px !important;
  }
}